
<ol>
  <li><%= link_to 'IntelliJ IDEA 注册码', 'http://idea.lanyus.com/' %></li>
  <li><%= link_to '颜色选择器', colors_path %></li>
  <li><%= link_to 'Rails 布局和视图渲染', layouts_and_rendering_path  %> </li>
  <li><%= link_to 'Rails helper', helper_doc_path  %> </li>
  <li><%= link_to 'css3自定义字体', css3_doc_path  %> </li>
  <li><%= link_to '各式各样的icon转换成字体下载一（.eot\.svg\.ttf\.woff）', 'https://icomoon.io/app/#/select'  %> </li>
  <li><%= link_to '各式各样的icon转换成字体下载二（.eot\.svg\.ttf\.woff）', 'http://fontello.com/'  %> </li>
  <li><%= link_to 'jQuery关于select的操作', jquery_select_path  %> </li>
</ol>


