<div class="login-div">
  <div class="login-div-sub">
    <%= form_tag('login') do %>

      <ul>
        <li class="error_msg">
          <%= params[:error] %>
        </li>
        <li class="zmwy-li">
          <label>用户名：</label>
          <%= text_field_tag :username %>
        </li>
        <li class="zmwy-li">
          <label>密码：</label>
          <%= password_field_tag :password %>
        </li>
        <li class="zmwy-li-search">
          <%= submit_tag '登录', :class => 'btn btn-primary' %>
        </li>
      </ul>

    <% end %>
  </div>
</div>


